<p>
  Productos!!
</p>
<div class="alert alert-warning" *ngIf="cont>0">
  <label for="">Carrito</label>
  <ul>
    <li *ngFor="let item of listSales">
      {{item[0].name}}    cantidad:{{item[1]}}
    </li>
  </ul>
  <button class="btn btn-primary" (click)="savePedido()"> Registrar Pedido</button>
</div>

<div class="row">
  <div class="card col-md-3 m-2 p-3" *ngFor="let item of productList">
    <h2 for="">{{item.name}}</h2>
    <p>precio:{{item.price}}</p>
    <img src={{item.imagen}} alt="">
    <button class="btn btn-success" (click)="selectProduct(item)">add</button>
  </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#myFormProduct">
  add Producto  
</button>
<div class="modal fade" id="myFormProduct">
    <div class="modal-dialog">
      <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar Producto</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
           <div class="form-group">
                <label for="inputName">Nombre</label>
                <input name="name" #name="ngModel" type="text" class="form-control" id="inputName" placeholder="nombre del producto" [(ngModel)]="product.name" >
          </div>
          <div class="form-group">
            <label for="inputImagen">Imagen</label>
            <input name="imagen" #imagen="ngModel" type="url" class="form-control" id="inputImagen" aria-describedby="imagenHelp" placeholder="Enter url imagen" [(ngModel)]="product.imagen">
            <small id="imagenHelp" class="form-text text-muted">Introdusca la url de imagen.</small>
          </div>
          <div class="form-group">
            <label for="inputprice">Precio</label>
            <input name="price" #price="ngModel" name="name" #name="ngModel"type="number" class="form-control" id="inputPrice" [(ngModel)]="product.price">
          </div>
          <div class="form-group">
              <label for="descriptionTarea">Descripcion del producto</label>
              <textarea name="description" #description="ngModel" class="form-control" id="descriptionTextarea" rows="3" [(ngModel)]="product.description" ></textarea>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
          </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeModal">Close</button>
      </div>
      </div>
    </div>
</div>

