<p>
 Pedidos!!
</p>
<div class="row">
  <div class="col-md-6" *ngIf="ordersList">
    <div class="alert alert-warning" *ngFor="let order of ordersList">
      {{order.total}}
      <button class="btn btn-danger" (click)="verDetalle(order.$key)">ver detalle</button>
    </div>
  </div>
  <div class="col-md-6">
    <h2>detalle de pedido</h2>
    
        <div *ngFor="let prod of productFilter" class="alert alert-danger" >
          {{prod.cant}}
          {{prod.name}}
        </div>
    
  </div>
</div>
<!--
<button (click)="addOrder()">
  add order
</button>
<button (click)="addDetail()">
  add detail
</button>
-->